html {
  scroll-behavior: smooth;
}

.silkscreen-regular,
.silkscreen-bold {
  font-family: Silkscreen, sans-serif;
  font-style: normal;
}

.silkscreen-regular {
  font-weight: 400;
}

.silkscreen-bold {
  font-weight: 700;
}

body {
  padding: 0;
  margin: 0;
  min-width: 350px;
}

body > .judul {
  background-color: rgb(37, 113, 128);
  text-align: center;
  font-size: 3em;
  margin: 0;
}

header {
  background-color: rgb(37, 113, 128);
  text-align: center;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  gap: 2em;
  margin: 0;
  padding: 0.2em 2em;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

nav li {
  list-style: none;
}

nav li a {
  color: black;
  text-decoration: none;
}

.hidden {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 95vh;
  margin: 0;
  background-color: antiquewhite;
}

main h2 {
  margin: 0;
}

main p {
  max-width: 250px;
}

main > article {
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
  max-width: 900px;
  align-content: start;
  justify-content: center;
}

.pelatihan,
aside {
  margin: 1em;
  padding: 1em;
  height: fit-content;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.pelatihan img,
aside img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid;
}

.pelatihan div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}





input, textarea{
  border-radius: 5px;
  margin: 0.3em;
  padding: 0.5em;
  border: 2px;
  border-radius: 5px;
  border-color: rgb(0, 0, 0, 0.6);
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form > div> div, form > div{
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: flex;
  margin: 0em;
  padding: 0.3em;
  flex-wrap: wrap;
  max-width: 900px;
}
form{
  margin: 0;
  background-color: rgb(253, 139, 81);
  justify-content: center;
  justify-items: center;
  align-items: center;
}
footer{
  margin: 0;
  background-color: rgb(203, 96, 64);
}
footer > p, form >h2{
  margin: 0;
}

@media screen and (max-width: 600px) {
  .hidden {
    display: block;
  }

  main {
    display: block;
  }
}
