html {
  scroll-behavior: smooth;
}

.silkscreen-regular {
  font-family: Silkscreen, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: Silkscreen, sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  min-width: 350px;
  max-height: 100vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

body .judul {
  background-color: rgb(37, 113, 128);
  text-align: center;
  margin: 0;
  font-size: 3em;


}
.judul a{
  text-decoration: none;
  color: black;
}

header {
  background-color: rgb(37, 113, 128);
  text-align: center;
  position: sticky;
  top: 0;
  flex: 0;
}


nav ul {
  margin: 0px;
  justify-content: center;
  padding: 0.2em 2em;
  display: flex;
  gap: 2em;
  background-color: rgb(255, 255, 255, 0.1);
}

nav li {
  list-style: none;
}
.hidden {
  display: none;
}
nav li a {
  color: black;
  text-decoration: none;
}

main {
  min-height: 95vh;
  display: flex;
  margin: 0px;
 
  justify-content: center;
  justify-items: center;
  flex: 1;
}
main h2 {
  margin: 0;
}
main p {
  max-width: 250px;
}

main > article {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
  max-width: 900px;
  align-content: start;
}

.pelatihan img {
  width: 100px;
  height: 100%;
  border-radius: 50%;
  border: 2px;
  border-style: solid;
}
.pelatihan,
aside {
  margin: 1em;
  height: fit-content;
  padding: 1em;
  border: 2px;
  border-radius: 5px;
  border-color: rgb(0, 0, 0, 0.6);
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pelatihan div {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

aside {
  justify-content: center;
  justify-items: center;
  height: fit-content;
  width: fit-content;
  margin-bottom: 0;
}

aside img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px;
  border-style: solid;
}

input,
textarea {
  border-radius: 5px;
  margin: 0.3em;
  padding: 0.5em;
  border: 2px;
  border-radius: 5px;
  border-color: rgb(0, 0, 0, 0.6);
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form > div > div,
form > div {
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: flex;
  margin: 0em;
  padding: 0.3em;
  flex-wrap: wrap;
  max-width: 900px;
}
form {
  margin: 0;
  background-color: rgb(253, 139, 81);
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex: 0;
}
footer {
  margin: 0;
  background-color: rgb(203, 96, 64);
  flex: 0;
}
footer > p,
form > h2 {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .hidden {
    display: block;
  }
  main {
    display: block;
  }
}
